<h3 class="cv-title">Professional Courses & Qualifications</h3>
<div class="cv-item-container-courses">
  <% courses.forEach(function (course){ %>
  <div class="cv-item">
    <h7><%= course.year %></h7>
    <h6><%= course.title %></h6>
  </div>

  <% }) %>
</div>
