<section id="cv" class="cv">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Curriculum Vitae</h2>
      <p>&nbsp;</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <%- include(`education`) %> <%- include(`courses`) %>
      </div>
      <div class="col-lg-6">
        <%- include(`work`) %>
    </div>
  </div>
</section>
