<footer id="footer">
  <div class="container">
    <div class="row mt-1">
      <div class="col-lg-4 col-md-5 col-xs-5 copyright">
          &copy; Copyright <strong><span><%= personalInfo.website %></span></strong>
      </div>
      <div class="col-lg-5">&nbsp;</div>
      <div class="col-lg-3 col-md-5 col-xs-5">
        <div class="social-links">
          <a href="<%= personalInfo.linkedIn %>" class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a href="<%= personalInfo.github %>" class="github" target="_blank"
            ><i class="bx bxl-github"></i
          ></a>
        </div>
      </div>
    </div>

</footer>
