<footer id="footer">
  <div class="container">
    <div class="row mt-1">
      <div class="col-lg-4 col-md-5 col-xs-5 copyright">
          &copy; Copyright <strong><span><%= personalInfo.website %></span></strong>
      </div>
      <div class="col-lg-5">&nbsp;</div>
      <div class="col-lg-3 col-md-5 col-xs-5">
        <div class="social-links">
          &nbsp;
        </div>
      </div>
    </div>

</footer>
