<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1><%= personalInfo.name %></h1>
    <p>
      <span
        class="typed"
        data-typed-items="<% personalInfo.roles.forEach(function (roleItem){ %><%= roleItem.role %>,<% }) %>"
      ></span>
    </p>
    <div class="social-links">
      <a href="<%= personalInfo.linkedIn %>" class="linkedin" target="_blank"
        ><i class="bx bxl-linkedin"></i
      ></a>
      <a href="<%= personalInfo.github %>" class="github" target="_blank"
        ><i class="bx bxl-github"></i
      ></a>
    </div>
  </div>
</section>
