<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Message sent from CV contact form</title>
  </head>
  <body>
    <h2>Email sent from: {{name}}</h2>
    <p>Email Address: {{email}}. </p>
    <p>Subject: {{subject}}. </p>
    <p>Message: {{message}}. </p>
  </body>
</html>