<section
  id="hero-technologies"
  class="d-flex flex-column justify-content-center"
>
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1><%= pageInfo.technologiesTitle %></h1>
    <p></p>
  </div>
</section>
